@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  /* background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%); */
  /* background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%); */
  min-height: 100vw;
}
.intro {
  /* background-image: url(../images/blog_happy-person_header.jpeg); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../public/images/blog_happy-person_header.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.learn-more {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../public/images/learnv2.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  color: grey;
}
.button:hover {
  position: relative;
  color: black;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.icons {
  font-size: 100;
  color: blueviolet;
  size: 0cqb;
}

.add-icon {
  size: "100px";
  font-size: 2rem;
  size: 3rem;
  padding: 10px 12px;
}

.laptop {
  /* padding-top: 100px; */
}

.sideText {
  text-align: center;
}

.header2 {
  color: #22324f;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.finances {
  text-align: center;
}

.redBackground {
  background-color: red;
  color: red;
}

.marginTop {
  margin-top: 10;
  padding-top: "50px";
}

.card {
  border-top-style: solid;
  border-top-width: 4px;
}

.center {
  text-align: center;
}

.right {
  padding-right: 10;
}
